<!DOCTYPE html>
{% include "navbar.html" %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title>{{title_html}}</title>
    </head>
 
<body>
    {% block content %}
    <div class="container-fluid" style="background-color: #75c7f4;">
        <div class = "container-fluid">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div class = "container-fluid" style="background-color:#8ee7b3ab; min-width: fit-content;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h2>Detail Mata Kuliah {{matkuls.nama_mata_kuliah}}</h2>
                            </div>
                            <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                                <table class="tables">
                                    <tr>
                                        <th class="tables">Nama Dosen Pengajar</th> 
                                        <th class="tables">Jumlah SKS</th> 
                                        <th class="tables">Deskripsi</th> 
                                        <th class="tables">Semester Tahun</th> 
                                        <th class="tables">Ruang Kelas</th> 
                                    </tr>

                                    <tr>
                                        <td class="tables">{{matkuls.dosen_pengajar}}</td>
                                        <td class="tables">{{matkuls.jumlah_sks}}</td>
                                        <td class="tables">{{matkuls.deskripsi_mata_kuliah}}</td>
                                        <td class="tables">{{matkuls.semester_tahun}}</td>
                                        <td class="tables">{{matkuls.ruang_kelas}}</td>
                                    </tr>
                                </table>
                                <div class="col-sm-12 col-md-12">
                                    <a href ="/matakuliah" class = "btn btn-primary">Tambah Mata Kuliah</a>
                                    <a href ="/showmatakuliah" class = "btn btn-primary">Daftar Mata Kuliah</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>