<!DOCTYPE html>
{% include "navbar.html" %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title>{{title_html}}</title>
    </head>
 
<body>
    {% block content %}
    <div class="container-fluid" style="background-color: #75c7f4;">
        <div class = "container-fluid">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div class = "container-fluid" style="background-color:#8ee7b3ab; min-width: fit-content;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h1>Mata Kuliah</h1>
                            </div>
                            <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                                <form action="savematakuliah" method = "POST">
                                    {% csrf_token %}
                                    <p>Nama Mata Kuliah : {{input_form.nama_mata_kuliah}}</p>
                                    <p>Dosen Pengajar : {{input_form.dosen_pengajar}}</p>
                                    <p>Jumlah SKS : {{input_form.jumlah_sks}}</p>
                                    <p>Deskripsi Mata Kuliah : {{input_form.deskripsi_mata_kuliah}}</p>
                                    <p>Semester Tahun : {{input_form.semester_tahun}}</p>
                                    <p>Ruang Kelas : {{input_form.ruang_kelas}}</p>
                                    <input type = "submit" value = "Submit"> 
                                </form>
                            </div>
                            {% if matkuls %}
                                <div class="col-sm-12 col-md-12">  
                                    <table class="tables">
                                        {% for matkul in matkuls %}
                                            <tr>  
                                                <th class="tables">Nama Mata Kuliah</th>  
                                                <th class="tables">Hapus?</th>
                                            </tr>    
                                            <tr>  
                                                <td class="tables"><a style="color: black;" href = "/detailmatakuliah/{{matkul.id}}">{{matkul.nama_mata_kuliah}}</a></td> 
                                                <td class="tables"><a href ="/hapusmatakuliah/{{matkul.id}}" class = "btn btn-primary">Hapus</a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <a href ="/matakuliah" class = "btn btn-primary">Tambah Mata Kuliah</a>
                                </div>
                            {% endif %}
                                <div class="col-sm-12 col-md-12">
                                    <a href ="/showmatakuliah" class = "btn btn-primary">Daftar Mata Kuliah</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>