.contents {
    background-color: #555;
    border: 4px dashed #d7e241;
    width: fit-content;
}

.page1 {
    width: 200px;
    background-color: #555;
    border: 4px dashed #d7e241;
}

.orkep{
    background-color:#d7e241;
    color:black;
    width: 200px;
    display: inline-block;
    border-top : 4px dashed #555;
    border-left: 4px dashed #555;
    border-right: 4px dashed #555;
    box-sizing: border-box;
}

.home{
    background-color: black;
    color: white;
    width: 200px;
    display: inline-block;
    margin-left: 20px;
    border-top: 4px dashed #d7e241;
    border-left: 4px dashed #d7e241;
    border-right: 4px dashed #d7e241;
    box-sizing: border-box;

}

a {
    color: white;
    text-decoration: none;
}

.line {
    background-color: #d7e241;
    height: 10px;
}
.line1 {
    background-color: #555;
    height: 10px;
}
.line2 {
    background-color: black;
    height: 10px;
}
.circle {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.l1 {
    width: 50px;
    height: 265px;
    background-color: #d7e241;
    display: inline-block;
}
.l2 {
    width: 50px;
    height: 365px;
    background-color: #555;
    display: inline-block;
}
.l3 {
    width: 50px;
    height: 465px;
    background-color: black;
    display: inline-block;
}

.l4 {
    width: 50px;
    height: 165px;
    background-color: #E5E5E5;
    display: inline-block;
}

.vertical {
    display: inline-block;
}

.tables {
    margin: 30px auto;
}

table.tables, td.tables,th.tables {
    border: 5px solid black;
    border-collapse: collapse;
}

th.tables {
    background-color: #555;
    color: white;
}

td.tables {
    background-color: #E5E5E5;
    color: black;
}

h3 {
    color : #ffffff;
    font-size: 18.72px;
    font-family: 'Times New Roman', Times, serif;
    margin: 18.72px 0px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 19.92px 0px;
    color: black;
}

#background {
    background-color: #75c7f4;
}
